---
- name: create TLS private key for the scheduler client
  community.crypto.openssl_privatekey:
    path: '{{ kscheduler_home }}/client.key'
    mode: '0600'
    owner: root
    group: root

- name: create certificate signing request for the scheduler client cert
  community.crypto.openssl_csr_pipe:
    privatekey_path: '{{ kscheduler_home }}/client.key'
    common_name: '{{ kube_username }}'
    country_name: '{{ pki_country }}'
    state_or_province_name: '{{ pki_state }}'
    locality_name: '{{ pki_locality }}'
    key_usage:
      - digitalSignature
      - keyEncipherment
    key_usage_critical: yes
    extended_key_usage:
      - clientAuth
      - serverAuth
    subject_alt_name:
      - IP:{{ ansible_default_ipv4.address }}
      - DNS:{{ inventory_hostname }}.{{ domain }}
  register: openssl_csr_pipe_result
  changed_when: no

- name: run sign task from pki role
  ansible.builtin.import_role:
    name: pki
    tasks_from: sign
  vars:
    csr_content: '{{ openssl_csr_pipe_result.csr }}'
    crt_path: '{{ kscheduler_home }}/client.crt'