[req]
distinguished_name = req_distinguished_name
encrypt_key        = no
prompt             = no
req_extensions     = req_extensions

[req_distinguished_name]
C   = FR
ST  = Occitanie
L   = Toulouse
CN = admin
O  = system:masters

[req_extensions]
basicConstraints     = CA:FALSE
extendedKeyUsage     = clientAuth
keyUsage             = critical, digitalSignature, keyEncipherment
nsCertType           = client
nsComment            = "Kube Admin Certificate"
subjectKeyIdentifier = hash