apiVersion: v1
kind: Config
clusters:
- name: {{ kube_cluster_name }}
  cluster:
    certificate-authority-data: {{ ca_cert_slurp.content }}
    server: https://{{ groups.apiserver[0] }}.{{ domain }}:{{ kube_apiserver_port }}
users:
- name: {{ kube_username }}
  user:
    client-certificate-data: {{ client_cert_slurp.content }}
    client-key-data: {{ client_key_slurp.content }}
contexts:
- name: default
  context:
    cluster: {{ kube_cluster_name }}
    user: {{ kube_username }}
current-context: default
