[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart={{ install_dir }}/kube-controller-manager \
  --bind-address=0.0.0.0 \
  --cluster-cidr={{ kube_pod_cidr }} \
  --allocate-node-cidrs=true \
  --cluster-name={{ kube_cluster_name }} \
  --cluster-signing-cert-file={{ kcontroller_home }}/node-ca.crt \
  --cluster-signing-key-file={{ kcontroller_home }}/node-ca.key \
  --kubeconfig={{ kcontroller_home }}/kubeconfig \
  --root-ca-file={{ kcontroller_home }}/ca.crt \
  --service-account-private-key-file={{ kcontroller_home }}/service-accounts.key \
  --service-cluster-ip-range={{ kube_cluster_ip_cidr }} \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target