---
- name: create kube-controller-manager folder structure
  ansible.builtin.file:
    path: '{{ kcontroller_home }}'
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: download and install kube-controller-manager {{ kube_version }}
  ansible.builtin.get_url:
    url: '{{ kube_base_url }}/kube-controller-manager'
    dest: '{{ install_dir }}/kube-controller-manager'
    mode: '0750'

- ansible.builtin.import_tasks: tls.yaml

- name: run get_sa_key task from kube_apiserver role
  ansible.builtin.import_role:
    name: kube_apiserver
    tasks_from: get_sa_key
  vars:
    sa_key_path: '{{ kcontroller_home }}/service-accounts.key'

- name: run gen_kubeconfig task from kube_utils role
  ansible.builtin.import_role:
    name: kube_utils
    tasks_from: gen_kubeconfig
  vars:
    kubeconfig_path: '{{ kcontroller_home }}/kubeconfig'
    key_path: '{{ kcontroller_home }}/client.key'
    crt_path: '{{ kcontroller_home }}/client.crt'

- name: create {{ kcontroller_service }}.service unit file
  ansible.builtin.template:
    src: unitfile.j2
    dest: /etc/systemd/system/{{ kcontroller_service }}.service
    owner: root
    group: root
    mode: '0644'
  notify: restart kube-controller-manager

- name: enable and start kube-controller-manager
  ansible.builtin.service: name={{ kcontroller_service }} state=started enabled=yes
