{
  "cniVersion": "1.1.0",
  "name": "bridge",
  "type": "bridge",
  "bridge": "cni0",
  "isGateway": true,
  "ipMasq": true,
  "ipam": {
    "type": "host-local",
    "ranges": [
      [{"subnet": "{{ node_cidr_allocation[inventory_hostname] }}"}]
    ],
    "routes": [{"dst": "0.0.0.0/0"}]
  }
}