[req]
distinguished_name = req_distinguished_name
encrypt_key        = no
prompt             = no
req_extensions     = req_extensions

[req_distinguished_name]
CN = service-accounts

[req_extensions]
basicConstraints     = CA:FALSE
extendedKeyUsage     = clientAuth
keyUsage             = critical, digitalSignature, keyEncipherment
nsCertType           = client
nsComment            = "service-account client certificate"
subjectKeyIdentifier = hash
