[req]
distinguished_name = req_distinguished_name
encrypt_key        = no
prompt             = no
req_extensions     = req_extensions

[req_distinguished_name]
C   = FR
ST  = Occitanie
L   = Toulouse
CN  = kubernetes

[req_extensions]
basicConstraints     = CA:FALSE
extendedKeyUsage     = clientAuth, serverAuth
keyUsage             = critical, digitalSignature, keyEncipherment
nsCertType           = client
nsComment            = "kube-apiserver certificate"
subjectAltName       = @alt_names
subjectKeyIdentifier = hash

[alt_names]
IP.0  = 127.0.0.1
IP.1  = 10.10.10.24
IP.2  = 10.32.0.1
DNS.0 = kubernetes
DNS.1 = kubernetes.default
DNS.2 = kubernetes.default.svc
DNS.3 = node-0.k8s-thw