[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart={{ install_dir }}/kube-apiserver \
  --allow-privileged=true \
  --apiserver-count=1 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file={{ kapiserver_home }}/ca.crt \
  --enable-admission-plugins=NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --etcd-servers={{ etcd_servers }} \
  --etcd-certfile={{ kapiserver_home }}/apiserver.crt \
  --etcd-keyfile={{ kapiserver_home }}/apiserver.key \
  --etcd-cafile={{ kapiserver_home }}/ca.crt \
  --event-ttl=1h \
  --encryption-provider-config={{ kapiserver_home }}/encryption-config.yaml \
  --kubelet-certificate-authority={{ kapiserver_home }}/ca.crt \
  --kubelet-client-certificate={{ kapiserver_home }}/apiserver.crt \
  --kubelet-client-key={{ kapiserver_home }}/apiserver.key \
  --runtime-config='api/all=true' \
  --service-account-key-file={{ kapiserver_home }}/service-accounts.crt \
  --service-account-signing-key-file={{ kapiserver_home }}/service-accounts.key \
  --service-account-issuer=https://server.kubernetes.local:6443 \
  --service-cluster-ip-range={{ kube_cluster_ip_cidr }} \
  --service-node-port-range={{ kube_node_port_range }} \
  --tls-cert-file={{ kapiserver_home }}/apiserver.crt \
  --tls-private-key-file={{ kapiserver_home }}/apiserver.key \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target