---
- name: create TLS private key
  community.crypto.openssl_privatekey:
    path: '{{ kubelet_home }}/client.key'
    mode: '0600'
    owner: root
    group: root

- name: create certificate signing request
  community.crypto.openssl_csr_pipe:
    privatekey_path: '{{ kubelet_home }}/client.key'
    common_name: '{{ kube_username }}'
    organization_name: system:nodes
    country_name: '{{ pki_country }}'
    state_or_province_name: '{{ pki_state }}'
    locality_name: '{{ pki_locality }}'
    key_usage:
      - digitalSignature
      - keyEncipherment
    key_usage_critical: true
    extended_key_usage:
      - clientAuth
      - serverAuth
    subject_alt_name:
      - IP:127.0.0.1
      - DNS:{{ inventory_hostname }}
      - DNS:{{ inventory_hostname }}.{{ domain }}
  register: openssl_csr_pipe_result
  changed_when: no

- name: run sign task from pki role
  ansible.builtin.import_role:
    name: pki
    tasks_from: sign
  vars:
    csr_content: '{{ openssl_csr_pipe_result.csr }}'
    crt_path: '{{ kubelet_home }}/client.crt'

- name: run get_ca task from pki role
  ansible.builtin.import_role:
    name: pki
    tasks_from: get_ca
  vars:
    crt_path: '{{ kubelet_home }}/ca.crt'