# "Call" this task file using using include/import,
# and variable defined following the example.
# 
# Example:
#
# - name: run gen_kubeconfig task from kube_utils role
#   ansible.builtin.import_role:
#     name: kube_utils
#     tasks_from: gen_kubeconfig
#   vars:
#     kubeconfig_path: '{{ kcontroller_home }}/kubeconfig'
#     kubeconfig_owner: 'root'
#     kubeconfig_group: 'root'
#     key_path: '{{ kcontroller_home }}/client.key'
#     crt_path: '{{ kcontroller_home }}/client.crt'
---
- name: run slurp_ca task from pki role
  ansible.builtin.import_role:
    name: pki
    tasks_from: slurp_ca
  vars:
    slurp_var: ca_cert_slurp

- name: read client key
  ansible.builtin.slurp: src={{ key_path }}
  register: client_key_slurp

- name: read client cert
  ansible.builtin.slurp: src={{ crt_path }}
  register: client_cert_slurp

- name: create kubeconfig
  ansible.builtin.template:
    src: kubeconfig.j2
    dest: '{{ kubeconfig_path }}'
    owner: '{{ kubeconfig_owner | default("root") }}'
    group: '{{ kubeconfig_group | default("root")  }}'
    mode: '0600'
