apiVersion: v1
kind: Config
clusters:
- name: k8s-thw
  cluster:
    certificate-authority-data: {{ cert }}
    server: https://node-0.k8s-thw:6443
users:
- name: system:node:node-0
  user:
    client-certificate-data: {{ cert }}
    client-key-data: {{ key }}
contexts:
- name: default
  context:
    cluster: k8s-thw
    user: system:node:node-0
current-context: default
