---
- hosts: all
  become: yes

  tasks:
    - name: update package cache
      ansible.builtin.package:
        update_cache: yes

- hosts: pki
  become: yes

  roles:
    - pki

- hosts: etcd
  become: yes

  roles:
    - etcd

- hosts: jumphost
  become: yes

  roles:
    - kube_admin

- hosts: apiserver
  become: yes

  roles:
    - kube_apiserver

- hosts: managers
  become: yes

  roles:
    - kube_controller_manager
    - kube_scheduler

- hosts: workers
  become: yes

  roles:
    - containerd
    - kubelet
    - cni
    - pod_static_routes
