---
- hosts: all
  become: true

  tasks:
    - name: update package cache
      ansible.builtin.package:
        update_cache: true

- hosts: pki
  become: true

  roles:
    - pki

- hosts: etcd
  become: true

  roles:
    - etcd

- hosts: apiserver
  become: true

  roles:
    - kube_apiserver
