[Unit]
Description=etcd service
Documentation=https://github.com/etcd-io/etcd

[Service]
Type=notify
ExecStart={{ install_dir }}/etcd \
  --name {{ inventory_hostname }} \
  --initial-advertise-peer-urls https://{{ inventory_hostname }}.{{ domain }}:{{ peer_port }} \
  --listen-peer-urls https://{{ ansible_default_ipv4.address }}:{{ peer_port }} \
  --listen-client-urls https://{{ ansible_default_ipv4.address }}:{{ client_port }} \
  --advertise-client-urls https://{{ inventory_hostname }}.{{ domain }}:{{ client_port }} \
  --initial-cluster-token {{ cluster_token }} \
  --initial-cluster {{ initial_cluster }} \
  --initial-cluster-state new \
  --cert-file={{ etcd_home }}/etc/node.crt \
  --key-file={{ etcd_home }}/etc/node.key \
  --trusted-ca-file={{ etcd_home }}/etc/ca.crt \
  --peer-cert-file={{ etcd_home }}/etc/node.crt \
  --peer-key-file={{ etcd_home }}/etc/node.key \
  --peer-trusted-ca-file={{ etcd_home }}/etc/ca.crt \
  --data-dir={{ etcd_home }}/var
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target