---
- name: install python3-kubernetes
  ansible.builtin.package:
    name: python3-kubernetes
    state: present

- name: create kubectl default folder
  ansible.builtin.file:
    path: '{{ kubectl_home }}'
    state: directory
    mode: '0755'

- name: download and install kubectl {{ kube_version }}
  ansible.builtin.get_url:
    url: '{{ kube_base_url }}/kubectl'
    dest: '{{ install_dir }}/kubectl'
    mode: '0750'

- ansible.builtin.import_tasks: tls.yaml

- name: run gen_kubeconfig task from kube_utils role
  ansible.builtin.import_role:
    name: kube_utils
    tasks_from: gen_kubeconfig
  vars:
    kubeconfig_path: '{{ kubectl_home }}/kubeconfig'
    key_path: '{{ kubectl_home }}/client.key'
    crt_path: '{{ kubectl_home }}/client.crt'
