[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart={{ install_dir }}/kube-proxy \
  --config={{ kproxy_home }}/kube-proxy.yaml --v=4
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
